body {
    /* outline: 1px solid red; */
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    background: #1F2937;
    font-family: 'Inter', sans-serif;
}

form {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

#color {
    height: 2.25rem;
    width: 3.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

#scheme, #count {
    background: #1F2937;
    border-radius: .25rem;
    color: #D5D4D8;
}

#count {
    width: 2.5rem;
}

button {
    font-family: 'Inter', sans-serif;
    font-size: .75rem;
    color: #FFFFFF;
    background: #3D4B60;
    padding: .5rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: .25rem;
    outline: none;
    border: none;
}

.color {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: .75rem;
    border-left: 1px solid #3D4B60;
    border-right: 1px solid #3D4B60;
}

.color-header {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #3D4B60;
    border-bottom: none;
    text-transform: uppercase;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

#bottom {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 1.5rem;
    border: 1px solid #3D4B60;
    border-top: none;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}